server:
  port: 8081

spring:
  application:
    name: Gateway Service
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/api/v1/**
          filters:
            - StripPrefix=0
